@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "SUSE", sans-serif;
}
#preloader{
    background-image:  url(Images/Simple\ Loader.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #03216b;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.container{
    background-color: #f5f5f5;
    /* margin: 20px; */
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    /* gap: 150px; */
    background-color: #03216b;
    color: white;
    padding: 10px 40px;
    /* margin: 20px; */
    /* border-radius: 10px; */
}
.name{
    display: flex;
    align-items: center;
    margin-left: 120px;
}
.name h2:hover{
    /* color: #295f98; */
    cursor: pointer;
}
.menu{
    display: flex;
    align-items: center;
    margin-right: 180px;
    /* margin: 0px auto; */
    gap: 30px;
}
#menu-toggle{
    display: none;
}
.menu a{ 
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: transform 0.3s ease 0s;
}
.menu a:hover{
   border-radius: 10px;
   transform: translateY(-5px);
   text-decoration: underline;
}
.hero-section-container{
    color: #222;
    margin-top: 80px;
    padding: 0px 20px; 
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.hero-section{
    display: flex;
    padding: 10px;
    margin: auto;
    gap: 100px;
    width: 80%;
}
.introduction{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}
.introduction p{
    line-height: 1.5;
    width: 80%;
    font-size: 20px;
}
#more{
    width: 28%;
    background-color: #03216b;
    font-size: 16px;
    color: white;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 25px;
}
#link{
    text-decoration: none;
}
#rightarrow{
    width: 20%;
}
.myimage{
    width: 35%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.myimage img{
    width: 100%;
    border-radius: 10px;
}
#moreinfo-container{
    display: flex;
    flex-direction: column;
    background-color: #03216b;
    color: white;
    gap: 40px;
    width: 80%;
    margin: auto;
    padding: 80px;
    background-color: #03216b;
    color: white;
    border-radius: 25px;
}

.moreinfo p{
    line-height: 1.5;
    font-size: 18px;
    padding-bottom: 30px;
}
.degree{
    display: flex;
    flex-direction: column;
}
.info{
    display: flex;
    align-items: center;
    background-color:whitesmoke;
    color: black;
    border: none;
    border-radius: 15px;
    gap: 150px;
    padding: 40px;
}
.prof{
    margin: auto;
}
.prof img{
    width: 350px;
}
.information{
    display: flex;
    align-items: center;
    background-color:#03346e;
    color: white;
    border: none;
    border-radius: 15px;
    gap: 150px;
    padding: 40px;
}
.professor img{
    width: 350px;
}
.degree h4{
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 15px;
}
.degree p{
    line-height: 1.5;
    font-size: 18px;
    padding-bottom: 15px;
}
.degree img{
    width: 20%;
}
#qualification{
    padding-top: 20px;
}

#fellow li{
    font-size: 16px;
    line-height: 1.5;
}
.information p{
    font-size: 16px;
}
#years{
    font-weight: 700;
}
.footer{
    background-color: #03216b;
    color: white;
    padding: 10px 40px;
    margin-top: 40px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all-rights{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-container{
    display: flex;
    gap: 20px;
    align-items: center;
}
#facebook{
    width:30px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

#google-scholar {
    width:30px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}
#xicon{
    width:30px;
    background-color: black;
    border-radius: 20px;
    padding: 5px;
}
@media screen and (max-width: 500px) {
    *{
        margin: 0;
        padding: 0;
    }

    .container{
        background-color: #f5f5f5;
        width: unset;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .nav-bar{
        padding: 20px;
        position: sticky;
        top: 0;
        z-index: 1000;
        width: unset;
    }
    .name{
        display: flex;
        align-items: center;
        margin-left: 0;
    }
    .name h2{
        font-size: 16px;
        margin-left: 10px;
    }
    #menu-toggle{
        display: none;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .hamburger div{
        width: 20px;
        height: 2px;
        background-color: white;
        margin: 3px 0;
        /* transition: 0.3s ease; */
    }
    #menu-toggle:checked + .hamburger + .menu{
        display: flex;
    }
    .menu{
        display: none;
        flex-direction: column;
        background-color: #03216b;
        position: absolute;
        margin-top: 20px;
        padding-left: 10px;
        top: 40px;
        gap: 20px;
        left: 0;
        width: 100%;
        align-items: flex-start;
        
    }
    .menu a{ 
        color: white;
        text-decoration: none;
        font-size: 14px;
        margin-left: 10px;
    }
    .menu a:hover{
        transform: translateY(-5px);
        text-decoration: underline;
     }   
    .hero-section-container{
        color: #222;
        margin-top: 70px;
        padding: 10px;
        flex: 1;
        margin-bottom: 0;
        height: 200px;
    }
    .hero-section{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin: auto;
        gap: 40px;
        width: unset;
    }
    .introduction{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: unset;
    }
    .introduction h1{
        font-size: 30px;
        color: #16325b;
        line-height: 1.5;
    }
    .introduction p{
        line-height: 1.5;
        width: 100%;
        font-size: 20px;
    }
    #more{
        width: 150px;
        background-color: #03216b;
        font-size: 16px;
        color: white;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 5px;
        border: none;
        border-radius: 25px;
    }
    #link{
        text-decoration: none;
    }
    #rightarrow{
        width: 18%;
    }
    .myimage{
        width: 80%;
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
    }
    .myimage img{
        width: 100%;
        border-radius: 10px;
    }
    
    #moreinfo-container{
        gap: 40px;
        width: unset;
        margin: 0px 10px;
        padding: 30px;
    }
    .info{
        flex-direction: column;
        gap: 60px;
    }
    .prof img{
        width: 80%;
    }
    
    .information{
        flex-direction: column;
        gap: 60px;
    }
    .professor img{
        width: 80%;
    }
    .degree h4{
       font-size: 25px;
    }
    #qualification{
        padding-top: 20px;
        font-size: 18px;
    }
    #fellow li{
        font-size: 18px;
    }
    .footer{
        background-color: #03216b;
        color: white;
        padding: 10px;
    }
    .footer-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .name{
        display: flex;
        align-items: center;
        margin-left: 0;
    }
    .name h2{
        font-size: 16px;
        width: 100%;
    }
    .all-rights{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .all-rights p{
        font-size: 12px;
        width: 100%;
    }
    .icon-container{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    #facebook{
        width:20px;
        background-color: white;
        border-radius: 20px;
        padding: 5px;
    }
    
    #google-scholar {
        width:20px;
        background-color: white;
        border-radius: 20px;
        padding: 5px;
    }
    #xicon{
        width:20px;
        background-color: black;
        border-radius: 20px;
        padding: 5px;
    }   
}